.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

img {
  width: 200px;
  margin-top: 6%;
  margin-bottom: 2%;
}

input,
select {
  min-width: 200px;
  width: 20%;
  height: 35px;
  border-radius: 10px;
  border-color: lightgray;
  margin-bottom: 1%;
  font-size: large;

  -ms-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  -webkit-box-sizing: content-box;
}

button {
  min-width: 150px;
  width: 10%;
  height: 50px;
  border-radius: 10px;
  border-color: #486B00;
  background-color: #486B00;
  color: white;
  font-size: 100%;
  font-weight: bold;
}

a {
  font-size: large;
}

.rec.rec-dot {
  background-color: #93a868;
  box-shadow: 0 0 1px 3px #93a868;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  min-width: 10px;
}

button.rec-dot:hover,
button.rec-dot:active,
button.rec-dot:focus {
  box-shadow: 0 0 1px 3px #486B00;
}

button.rec-arrow {
  background-color: #486B00;
  box-shadow: 0 0 1px 3px #486B00;
}

button.rec-arrow:hover,
button.rec-arrow:active,
button.rec-arrow:focus {
  box-shadow: 0 0 1px 3px #486B00;
}

.rec.rec-arrow:hover:enabled,
.rec.rec-arrow:focus:enabled,
.rec.rec-arrow {
  color: #fff;
  background-color: #486B00;
  box-shadow: 0 0 2px 0 #486B00;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}