.btn-right {
    float: right;
    margin-top: 3%;
    margin-right: 3%;
}

img {
    margin-top : 0;
}

input {
    height: 35px;
    width: 20%;
    min-width: 200px;
    border-radius:10px;
    margin-bottom: 2%;
    border-color: lightgray;
    font-size: large;
}

.divSignup {
    align-items: center;
    text-align: center;
}